@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@100&family=Quicksand:wght@300;500;600&family=Raleway:ital,wght@1,200;1,300&display=swap');


* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #292929;
}

#welcome {
  margin-top: 5%;
  text-align:center;
  color: white;
  font-family: 'Kdam Thmor Pro'

}
#snippets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  transform: .2s;
  transition: .2s;
}

#you-can {
  font-family: 'Poppins';
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}


#code {
  font-size: 30px;
  color: blue;
  font-family: 'Courier New', Courier, monospace;
  animation: 0.2s;
}

#code:hover span {
  display: none
}

#code:hover:before {
  content: "['CHANGE', 'THE', 'WORLD']"
}

#link-container {
  padding: 20px;
  color: blue;
  display: flex;
  justify-content: space-around;
}
#link-container a {
  text-decoration: none;
  margin-left: 20px;
}

